apiVersion: v1
kind: Service
metadata:
  name: amazon-service
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: amazon-app
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP